{{ define "main"  }}
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet" rel="stylesheet">
    
    <h1 class="titles"> {{ .Title }}  </h1>
    <div id="content"> {{ .Content }}</div>
      
    <style>
     * {
    font-family: 'Quicksand', sans-serif;
    margin: 4% auto;
    max-width: 800px;
       }
    #darkmode {
            background:#091a28 ;
            color:#ebf4f1 ;
            transition: background-color 1s;
    } 
    #theme {
           float: right; 
           font-size: 10px;
    }
    .intro {
        margin-bottom: 0px;
        font-size: 80px;
    }
    #content {
        margin-top: 70px;
    }
    h1 {
        text-align: center;
        font-family: 'Quicksand', sans-serif;
        font-size: 30px;
    }
    h2 {
        font-size: 30px;
    }
    a {
       text-decoration: none;
       color: grey;
    }
    
    p {
        margin-top: 0px;
        margin-left:10px;
        color: grey;
        font-size: 1.1rem;
    }
    ul {
        color: grey;
    }
    
    .link-blog {
        text-decoration: underline;
        font-size: 1.3rem;
        color: grey;
    }
    li {
        margin: 0 0;
    }
    .buku {
        margin: 0 0;
    }
    
    .fot {
            text-align: center;
            margin-top: 300px;
    }
    
    img { 
            margin-top: 0px;
            width: 200px;
            height: 200px;
            border-radius: 50%; 
            border: 1px grey solid;
    }
    </style>
    
    {{ end }}

 