 <header>
  {{if not .IsHome}}
  <nav> <a href='/'> << kembali ke halaman awal </a> </nav>
  {{ end }}

  <div id="theme">
    <h3 onclick="setDarkMode(false)">terang</h3> 
    <h3 onclick="setDarkMode(true)">gelap</h3>
  </div>  

  <script>
     function setDarkMode (isDark) {
                if (isDark) {
                    document.body.setAttribute('id', 'darkmode' ,'ul')
                } else {
                    document.body.setAttribute('id', '')
                }
            }
  </script>
</header>