{{ define "main"  }}

<main>  
                     <!-- landing page -->
   <section class="landing">
        <h1 class="intro"> Halo! </h1> 
         <h2 class="text1">saya Ikhsan, biasanya dipanggil 'Sans'  <br>
           di sini kamu bisa baca tulisan atau melihat <a target="_blank" href="https://portofolio-site.firebaseapp.com/">eksperimen saya🚀</a></h2>
   </section>       
                     <!-- bagian blog -->
   <hr />
   <section>
        <h2> Blog </h2>
         <ul>
            {{ range where .Site.RegularPages "Section" "blog"}}
          <li class="blog">
            <a href="{{.Permalink}}" class="link-blog"> {{.Title}}</a> <br>
            <p>{{ .Params.description }}</p> 
          </li>
            {{ end }}
         </ul>
   </section>
                     <!-- bagian buku-->
   <hr />    
   <section>
       <h2> Buku </h2>
         <ul>
            {{ range where .Site.RegularPages "Section" "books"}}
          <li class="buku">
            <a href="{{.Permalink}}" class="link-blog"> {{.Title}}</a> <br>
            <!-- <p>{{ .Summary }}</p> --> 
          </li>
            {{ end}}
         </ul>
   </section> 
                    <!-- bagian eksperimen-->
   <hr />
   <section>
       <h2> Eksperimen </h2>
        <div id="ul">
         <ul>
            {{ range where .Site.RegularPages "Section" "eksperimen"}}
          <li class="eks">
            <a href="{{.Permalink}}" class="link-blog"> {{.Title}}</a> <br>
          </li>
            {{ end}}
         </ul>
        </div>
       <img src="/img/nashki.jpg" alt="foto ikhsan">
   </section>    
</main>   

{{ end }}
    

    